/* BANNER */
#banner_container {
    font-family: clashFont;
    text-align: center;
    margin: 0% 10% 5% 10%;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#main_container {
    font-family: clashFont;
    text-align: center;
    margin: 3% 10% 5% 10%;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#background_container {
    background-image: url('../clash_bg.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    height: 100vh;
}

@font-face {
  font-family: 'clashFont';
  src: url('../You Blockhead.ttf');
}

.smaller_font {
    font-size: 12px
}

#result_div
{
    margin: 10px 50% 10px 0;
}

#results_image
{
    width:100px;
    height:100px;
}

table, th, td
{
  border: 1px solid black;
}

#top_form {
    text-align: center;
    justify-content: center;
    margin-top: 3%;
}

#seedInput
{
    margin: 0px 3px 0px 0px;
}

.result_box
{
    padding: 15px;
}

#num_games_div {
    display: inline;
}

#win_rate_div {
    display: inline;
}

#results_container {
    display:none;
}

/* FILTERS  */
.filter_btn {
	margin-bottom: 5px;
}
.attrib-button:hover {
	background: lightgray;
	cursor: pointer;
}
.attrib-button {
	padding-left: 5px;
}
.attrib-button-single:hover {
	background: lightgray;
	cursor: pointer;
}
.attrib-button-single {
	padding-left: 5px;
}
#submit_filters_btn {
    margin: 10px 10px 10px 0px
}
.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
#trophy_range_div {
    width: 30%;
    margin-bottom: 10px;
}
