/* BANNER */
#banner_container {
    font-family: clashFont;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 5%;
    margin-top: 5%;
}

#main_container {
    font-family: clashFont;
    text-align: center;
    margin-bottom: 5%;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#background_container {
    background-image: url('../clash_bg.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
    height: 100vh;
    overflow: auto;
}

#overall_stats_div {
    font-family: clashFont;
    text-align: center;
    margin: 5% auto 5%;
    border-radius: 25px;
    border: 2px solid black;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    max-width: fit-content;
}

@font-face {
  font-family: 'clashFont';
  src: url('../You Blockhead.ttf');
}

.smaller_font {
    font-size: 12px
}

#result_div {
    margin: 10px 50% 10px 0;
}

#results_image {
    height: 100px;
    margin-top: 10%;
    margin-bottom: 10%;
}

table, th, td
{
  border: 5px solid white;
}

#top_form {
    text-align: center;
    justify-content: center;
    margin: 5% 5% 0% 5%;
}

#seedInput
{
    margin: 0px 3px 0px 0px;
}

.result_box
{
    padding: 15px;
    border-radius: 25px;
    border: 2px solid white !important;
    max-width: 120px;
    font-family: clashFont;
    text-align: center;
    color: white;
    font-size: .55em;
    float: none;
    margin: 1% auto;
}

#num_games_div {
    display: inline;
}

#win_rate_div {
    display: inline;
}

#results_container {
    display:none;
}

#results_container {
    display:none;
}

#results_table {
    margin: auto;
    text-align: center;
    font-family: clashFont;
    font-size: 12px;
    color: white;
}

#results_div {
    display: flex !important;
    flex-wrap: wrap !important;
}

/* FILTERS  */
.filter_btn {
	margin-bottom: 5px;
}
.attrib-button:hover {
	background: lightgray;
	cursor: pointer;
}
.attrib-button {
	padding-left: 5px;
}
.attrib-button-single:hover {
	background: lightgray;
	cursor: pointer;
}
.attrib-button-single {
	padding-left: 5px;
}
#submit_filters_btn {
    margin: 10px 10px 10px 0px
}
.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
#trophy_range_div {
    width: 30%;
    margin-bottom: 10px;
}


/* NEW FILTERS */
.search-bar {
  height: 100%;
}

.search-bar #select-country-selectized {
  height: 40px;
}

.search-bar .selectize-input .item {
  height: 40px;
  line-height: 2.4;
  font-size: 18px;
}

@media (max-width: 767px) {
  .search-bar .selectize-input {
    width: 450px !important
  }
}

  .search-bar .selectize-input {
    width: 240px !important
  }
}
