<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Competition Clash</title>

	<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap2.min.css"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tail.select-default.css') }}"> <!-- tail select -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/c3.css') }}">

</head>
<body>
	<div id="background_container">

		<div class="container" id="banner_container">
			<div class="row text-wrap">
				<div class="col">
					<h1 class="center" id="page_header">Welcome to Competition Clash!</h1>
					<div id="page_subheader">
						The website dedicated to analyzing your Clash Royale battles to show you how well you play against certain cards.
					</div>
				</div>
			</div>
		</div>

		<div class="container" id="results_loading_div">
			<div class="row m-auto">
				<div class="col">
					<div class="spinner-grow text-primary" id="results_loading_spinner" role="status"></div>
					<div id="results_loading_text">
						<strong>Analyzing your battles...</strong>
					</div>
				</div>
			</div>
		</div>

		<div class="container" id="main_container">
			<div class="row text-wrap">
				<div class="col">
					<div id="message">
						<h2>Enter your player tag:</h2>
						<div class="smaller_font">
							We'll start collecting all 1v1 battle data from all game modes every day.
							<br>
							Just keep playing and you'll be able to see how you've been doing overall.
						</div>
					</div>
				</div>
			</div>

			<div class="row" id="top_form">
				<form class="form-inline" id="form">
				  <div class="form-group">
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="seedInput">Name</label>
				    <input
				    	type="text"
				    	class="form-control"
				    	id="seedInput"
				    	placeholder="Player Tag"
				    >
				  </div>
				  <button type="submit" id="analyze_button" class="btn btn-primary">Analyze My Battles!</button>
				</form>
			</div>
		</div>

		<div class="container" id="results_container">
			<div class="row hl">
				<div class="col" id="overall_stats_div">
					<div>
						Overall Win Rate:<div id="win_rate_div"></div>
					</div>
					<div>
						Number of Games Analyzed:<div id="num_games_div"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<table class="filters_table">
					<tr>
						<td class="filter_label">Your Deck Has:</td>
						<td><select id="your_team_filter" placeholder="No Filter"></select></td>
					</tr>
					<tr class="filters_spacer"></tr>
					<tr>
						<td class="filter_label">Opponent's Deck Has:</td>
						<td><select id="opponent_team_filter" placeholder="No Filter"></select></td>
					</tr>
					<tr class="filters_spacer"></tr>
					<tr>
						<td class="filter_label">Game Mode:</td>
						<td><select id="game_mode_filter" placeholder="No Filter"></select></td>
					</tr>
					<tr class="filters_spacer"></tr>
					<!-- <tr>
						<td class="filter_label">Arena:</td>
						<td><select id="arena_filter" placeholder="No Filter"></select></td>
					</tr> -->
					<tr class="filters_spacer"></tr>
					<tr>
						<td class="filter_label">Battle Time:</td>
						<td><select id="battle_time_filter" placeholder="No Filter"></select></td>
					</tr>
					<tr class="filters_spacer"></tr>
					<tr>
						<td class="filter_label">Trophy Range:</td>
						<td id="trophy_range_td"><input type="text" id="trophy_slider" value="" /></td>
					</tr>
					<tr class="filters_spacer"></tr>
				</table>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div>
						Messages:
						<div id="messages_div"></div>
					</div>
				</div>
			</div>

			<div class="row" id="stats_results">
			</div>
		</div>

		<div class="row">
			<div class="col">
				<footer id="footer_policy">
					<div id="footer_text">
						This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it. For more information see Supercell's Fan Content Policy: <a href="https://supercell.com/en/fan-content-policy/">www.supercell.com/fan-content-policy</a>.
					</div>
				</footer>
			</div>
		</div>

	</div>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/tail.select-full.min.js') }}"></script> <!-- tail select -->
	<script src="{{ url_for('static', filename='js/async.js') }}"></script>
	<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
	<script src="{{ url_for('static', filename='js/c3.min.js') }}"></script>

</body>
</html>
